<!DOCTYPE html>
<html lang="en">
<style>

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}
table, td, th, tr, tfoot {border:solid 1px #000; padding:5px;}
th {background-color:#00008B;}
caption {font-size:x-large;}
colgroup {background:#F60;}
.coluna1 {background:#F66;}
.coluna2  {background:#F33;}
.coluna3  {background:#F99;}
.coluna4  {background:#F99;}
.coluna5{background:#F99;}
div.a {
	text-align: center;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
        <tbody>
            <table border:solid 1px #000; padding:5px;>
                <thead>
                <tr><th colspan="4"><font size="20" color="white">Índice de Cárie</font> </th></tr>
                </thead>
                <tbody>
                <tr>
                <td rowspan="2"><center>Atividades</center></td>
                <td colspan="3"><center>Gravidade</center></td>
                <tr>
                    <td>(Pequena dificuldade)<img src="images/pqe.jpg"></img></td>
                    <td>(Média dificuldade)<img src="images/media.jpg"></img></td>
                    <td>(Grande dificuldade)<img src="images/grande.jpg"></img></td>
                </tr>
                </tr>
                <tr>
                <td rowspan="2">1.Comer(ex:Refeição, sorvete)</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">2.Falar claramente</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">3.Limpar a boca(ex:escovar os dentes e bochecar)</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">4.Dormir</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">5.Mantero seu estado emocional(humor) sem se irritar ou estressar</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">6.Sorrir, rir e mostrar os dentes sem sentir vergonha</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">7.Fazer as tarefas da escola(ex:ir a escola,aprender em sala de aula, fazer o dever de casa)</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
                <tr>
                <tr>
                <td rowspan="2">8.Ter contato com as pessoas(ex:sair com amigos, ir à casa de um amigo)</td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                <td><p>&nbsp;</p></td>
                </tr>
                </tr>
        
                </tbody>
                    </table>
</body>
</html>